.product__table {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000;
  padding: 10px 0;
  & > div {
    width: 10%;
    &:nth-child(2) {
      width: 40%;
    }

    &:nth-child(3) {
      width: 20%;
    }

    &:nth-child(4) {
      width: 20%;
    }

    &:nth-child(5) {
      width: 10%;
    }
  }
}
