* {
  font-family: "Quicksand", sans-serif;
}

.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  display: block;
}

body {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.row > * {
  padding-right: 0 !important;
}
