.ModalCart {
  background-color: white;
  width: 800px;
  max-width: 98%;
  padding: 20px;
  min-height: 60vh;
  max-height: 70vh;
  /* overflow-y: scroll; */
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  &__title {
    margin-bottom: 30px;
  }

  &__content {
    height: 40vh;
    overflow-y: scroll;
    padding: 30px 0px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    top: -8px;
    right: -5px;
    cursor: pointer;
  }
  &__totalPrice {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 20px;
    border-top: 1px solid #999;
    &-content {
      color: red;
      font-weight: 700;
      user-select: none;
      font-size: 20px;
    }
    &-button {
      font-weight: 600;
      border-radius: 7px;
      outline: none;
      border: 1px solid #999;
      padding: 8px 25px;
    }
  }
}

.CartItem {
  display: flex;
  &:not(:first-child) {
    margin-top: 30px;
  }
  &__image {
    width: 100px;
    height: auto;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 60%;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
  }

  &__quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    user-select: none;
    &-icon {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      cursor: pointer;
      border: 1px solid #999;
    }
  }

  &__price {
    margin-left: 50px;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: red;
  }
}
